.checkboxSwitch{
    position: relative;
    border: 1px solid rgb(244, 78, 78);
    border-radius: 6px;
    height: 2rem;
    width: 4rem;
}

.checkboxSwitch::after{
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background-color: blue;
    border-radius: 50%;
}