:root{
    --light : #64CCC5;
}

.bg-gradient {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 300%;
    animation : 3s move infinite alternate-reverse
}

@keyframes move {
    
    from {
        background-position: 0%;
    }

    to{
        background-position: 100%;
    }
    
}

.pass-container {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
}

.pass-range , .pass-input {
    accent-color:#0F2027 ;
}

.pass-input{
    padding: 10px;
    height: 1rem;
}

.btn-pass {
    background-color: var(--light);
    font-weight: 700;
}