.blur {
    background: rgba(42, 43, 56, 0.5);
  border: 2px solid rgb(42, 43, 55);
  backdrop-filter: blur(104px);
}


.gradient-text{
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-text-fill-color: transparent;
animation: 5s ease 0s infinite gradient;
background-clip: text;
background-position: 10% 50%;
background-size: 300% 300%;

}

@keyframes gradient {
    0% {
      background-position: 0px 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0px 50%;
    }
  }
 
 .portfolio-link {
    transition: 3s ease-in-out;
 } 

  .portfolio-link {
    color: black;
    animation : 5s jump infinite linear;
  }

  @keyframes jump {
    0% , 25% {
        transform: translateY(0);
    }
    30%{
        transform: translateY(-10px);
        scale: 1.01;
    }

    50%{
        transform:translateY(0);
    }

    100%{
        transform:translateY(0);
    }
  }